List :-  
    A list is a collection of different datatype values or items or elements.
    python lists are mutable means we can change the elements after forming
    list can be defined in the square brackets with the comma seperated values 
    list data type can hold six python datatypes

In [5]:
# formate function
name = "Akshay"
age = 21
a = ("My name is {} and I am {} years old".format(name,age))
print(a)

My name is Akshay and I am 21 years old

In [11]:
print("{} and {} are best friends".format("bunny","sunny"))

bunny and sunny are best friends

In [13]:
print("{},{} and {} are best friends".format("bunny","sunny","Akhi"))

bunny,sunny and Akhi are best friends

In [21]:
integer = 8
float = 0.5
string = "Hello"
print("Hi i am integer......... my value is %d\n hi im float......my value is %f\n hi i an string......my value is %s"%(integer,float,string))

Hi i am integer......... my value is 8
 hi im float......my value is 0.500000
 hi i an string......my value is Hello

In [25]:
#python lists

a = [10, 10.0, "python", 1+3j]
print(a)
print(type(a))

[10, 10.0, 'python', (1+3j)]
<class 'list'>

In [41]:
#mutable----------> mutable means we can change the elements after forming
a = [10,10.0,"python",1+3j]
print(a[1])
print(a[1:3])

10.0
[10.0, 'python']

In [5]:
#example:
emp = ["john", 102, "USA"]
dep1 = ['cs',10]
dep2 = ['IT',11]
hod_cse = [10,'holding']
hod_it = [11, 'bewon']
print("Employee data")
print("Name: %s, id: %d, country:%s"%(emp[0],emp[1],emp[2]))
print("Department")
print("department1: \nName :%s, id:%d\n Department2: \n name :%s, id:%d"%(dep1[0],dep1[1],dep2[0],dep2[1]))
print("Hod details")
print("cs Hod name:%s, ID:%d"%(hod_cse[1],hod_cse[0]))
print("IT hod name:%s, id: %d"%(hod_it[1],hod_it[0]))

Employee data
Name: john, id: 102, country:USA
Department
department1:
Name :cs, id:10
 Department2:
 name :IT, id:11
Hod details
cs Hod name:holding, ID:10
IT hod name:bewon, id: 11

In [11]:
#operations
#Repetation
a = [12,13,14,16,18]
print(a)
print(a*2)
b = a*2
print(b)

[12, 13, 14, 16, 18]
[12, 13, 14, 16, 18, 12, 13, 14, 16, 18]
[12, 13, 14, 16, 18, 12, 13, 14, 16, 18]

In [13]:
#Concatenetion
a = [1,2,3,4,5]
b = [6,7,8,9,10]
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
#list methods
#Append---------> Adds an element to the end of the list
a = [1,2,3]
a.append(4)
print(a)

[1, 2, 3, 4]

In [23]:
#insert----------> insert an element at a specifird index
a = [1,2,3,4]
a.insert(4,5)
print(a)

[1, 2, 3, 4, 5]

In [25]:
#extend----------> append the elements of another list to the currenet list
a = [1,2,3]
b = [4,5,6]
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6]

In [29]:
#remove-------> it will remove the first occurance of specified element
a = [1,2,3,4]
a.remove(2)
print(a)

[1, 3, 4]

In [33]:
#index-----> returns the index of first occurance of a specified element
a = [1,2,3,4]
b = a.index(3)
print(b)

2

In [39]:
#count----------> returns the no.of items in a specified element appers in the list
a = [1,2,3,2,4,5,6,2,4,3,5,6]
b = a.count(2)
print(b)

3

In [59]:
#sort---------------> sorts the list in ascending order
a = [1,3,2,4,5,7,6]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [41]:
#sort---------------> sorts the list in ascending order
a = [1,3,2,4,5,7,6]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [43]:
#reverse--------> reverse the order of elements in the list
a = [1,2,3,4,5,6,7]
a.reverse()
print(a)

[7, 6, 5, 4, 3, 2, 1]

In [47]:
#copy-------> creates a copy of list
a = [1,2,3,4,5,6]
b = a.copy()
print(b)

[1, 2, 3, 4, 5, 6]

In [49]:
#clear()----->removes all elements from the list
a = [1,2,3,4]
a.clear()
print(a)

[]

In [51]:
#min----------> returns the smallestelement
a = [1,2,3,4,5,6]
b = min(a)
print(a)

[1, 2, 3, 4, 5, 6]

In [53]:
#max -------> returns the max numbers
a = [1,2,3,4,5,6]
b = max(a)
print(a)

[1, 2, 3, 4, 5, 6]

In [57]:
#pop--------->removes and return the elements of specified index
a = [1,2,3,4,5,6,7]
b = a.pop(3)
print(b)
print(a)

4
[1, 2, 3, 5, 6, 7]