tuple : collection of items must be seperated by comma , enclosed in parantsis()
althought parathesis are not required they are recomended
tuple are an  immutable datatypes ----->the elements cannot change after they are generated.
ex : a = (10)
type(a)
int

a = (10,)
type(a)
tuple



*****
int + int = add
int + str = concetnation.
*********

In [11]:
a = (10,"hello",10.5, 1+3j)
print(a)
print(type(a))

(10, 'hello', 10.5, (1+3j))
<class 'tuple'>

In [15]:
a = ("hello")
print(a)
print(type(a))

hello
<class 'str'>

In [13]:
a = ("hello",)
print(a)
print(type(a))

('hello',)
<class 'tuple'>

In [17]:
a = 10,'hi',10.9,10+2j
print(a)
print(type(a))

(10, 'hi', 10.9, (10+2j))
<class 'tuple'>

In [19]:
a = [10]# bracket in important in list
type(a)

list

In [25]:
a = 10,#bracket is not important in tuple
type(a)

tuple

In [27]:
a[0] = 15 #tuple is immutable
a

TypeError: 'tuple' object does not support item assignment

In [41]:
#slicing operations:
a = (10, 'hello',10.5,1+3j,[10,10.8,23])
a[4][1]

10.8

In [43]:
a = (10, 'hello',10.5,1+3j,[10,10.8,23])
a[2]

10.5

In [53]:
a = (10, 'hello',10.5,1+3j,[10,10.8,23],(10,10.8,1+2j)) # we can keep one more tuple in the tuple
a[5][2]

(1+2j)

In [51]:
s = ([10, 'hello'])# there is an only list [.....] no comma after the list 
type(s)

list

In [55]:
a = (10, 'hello',10.5,1+3j,[10,10.8,23],(10,10.8,1+2j))
a[1:4]

('hello', 10.5, (1+3j))

In [57]:
a = (10, 'hello',10.5,1+3j,[10,10.8,23],(10,10.8,1+2j))
a[-4:-1]

(10.5, (1+3j), [10, 10.8, 23])

In [59]:
a = (10, 'hello',10.5,1+3j,[10,10.8,23],(10,10.8,1+2j))
a[0:6:2]

(10, 10.5, [10, 10.8, 23])

In [73]:
#mutable in list
a = [10,10.2,'hi']
del a[2]
a

[10, 10.2]

In [75]:
#immutable in tuple
a = (10,10.2,'hi')
del a[2]
a

TypeError: 'tuple' object doesn't support item deletion

In [77]:
a= ('python', 15.36, 25)
b = ('hello', 48.20, 34)
print(a*3)

('python', 15.36, 25, 'python', 15.36, 25, 'python', 15.36, 25)

In [79]:
a= ('python', 15.36, 25)
b = ('hello', 48.20, 34)
print(a+b)#concetination)

('python', 15.36, 25, 'hello', 48.2, 34)

In [81]:
#methods 
a = (1,2,3,'hi')
print(a)
print(len(a))

(1, 2, 3, 'hi')
4

In [ ]:
#count the length of a 
a = (1,2,3,'hi')
print(a)
print(len(a))

In [85]:
#count() function
a = (1,2,3,'hi',2,3)
b = a.count(2)
print(b)

2

In [87]:
#index
a = (1,2,3,'hi',2,3)
b = a.index('hi')
print(b)

3

In [91]:
#concat
a = (1,2,3)
b = a +(4,5)
print(b)

(1, 2, 3, 4, 5)

In [97]:
#min
a = (1,2,3,4,5,6,7,8,9)
b = min(a)
print(b)

1

In [95]:
#max
a = (1,2,3,4,5,6,7,8,9)
b = max(a)
print(b)

9

In [99]:
#reverse----->we can use for both list and tuple
a = (1,2,3,4,5,6,7,8,9)
a[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [105]:
#converting tuple to list
a = (1,2,3,4,5)
print(type(a))
b = list(a)
print(type(b))

<class 'tuple'>
<class 'list'>

Boolean ------->True or False

In [107]:
type(True)
type(False)

bool